<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-follow-heading" data-cy="FollowCreateUpdateHeading" jhiTranslate="projectApp.follow.home.createOrEditLabel">
        Crear o editar Follow
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="projectApp.follow.state"
            for="field_state"
            [ngbTooltip]="'projectApp.follow.help.state' | translate"
            >State</label
          >
          <select class="form-control" name="state" formControlName="state" id="field_state" data-cy="state">
            <option [ngValue]="null">{{ 'projectApp.FollowState.null' | translate }}</option>
            <option *ngFor="let followState of followStateValues" [value]="followState">
              {{ 'projectApp.FollowState.' + followState | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('state')!.invalid && (editForm.get('state')!.dirty || editForm.get('state')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('state')?.errors?.required" jhiTranslate="entity.validation.required">
              Este campo es obligatorio.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="projectApp.follow.creationDate"
            for="field_creationDate"
            [ngbTooltip]="'projectApp.follow.help.creationDate' | translate"
            >Creation Date</label
          >
          <div class="d-flex">
            <input
              id="field_creationDate"
              data-cy="creationDate"
              type="datetime-local"
              class="form-control"
              name="creationDate"
              formControlName="creationDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div
            *ngIf="editForm.get('creationDate')!.invalid && (editForm.get('creationDate')!.dirty || editForm.get('creationDate')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('creationDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Este campo es obligatorio.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('creationDate')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
            >
              Este campo debe ser una fecha y hora.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="projectApp.follow.acceptanceDate"
            for="field_acceptanceDate"
            [ngbTooltip]="'projectApp.follow.help.acceptanceDate' | translate"
            >Acceptance Date</label
          >
          <div class="d-flex">
            <input
              id="field_acceptanceDate"
              data-cy="acceptanceDate"
              type="datetime-local"
              class="form-control"
              name="acceptanceDate"
              formControlName="acceptanceDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projectApp.follow.follower" for="field_follower">Follower</label>
          <select
            class="form-control"
            id="field_follower"
            data-cy="follower"
            name="follower"
            formControlName="follower"
            [compareWith]="compareExtendedUser"
          >
            <option *ngIf="!editForm.get('follower')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="extendedUserOption" *ngFor="let extendedUserOption of extendedUsersSharedCollection">
              {{ extendedUserOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['follower'])!.invalid && (editForm.get(['follower'])!.dirty || editForm.get(['follower'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['follower'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Este campo es obligatorio.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projectApp.follow.following" for="field_following">Following</label>
          <select
            class="form-control"
            id="field_following"
            data-cy="following"
            name="following"
            formControlName="following"
            [compareWith]="compareExtendedUser"
          >
            <option *ngIf="!editForm.get('following')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="extendedUserOption" *ngFor="let extendedUserOption of extendedUsersSharedCollection">
              {{ extendedUserOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['following'])!.invalid && (editForm.get(['following'])!.dirty || editForm.get(['following'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['following'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Este campo es obligatorio.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
