@import '../../../content/scss/bootstrap-variables';

/* General styles */
.carousel {
  overflow: hidden;
  display: flex;
  transition: transform 0.3s ease-in-out;

  .carousel-container {
    width: 400px;
    overflow: hidden;
  }

  .carousel-inner {
    max-height: 450px;
    text-align: center;
    border-radius: 8px;
  }

  .carousel-item {
    height: 100%;
    max-height: 550px;
    position: relative;
  }

  img {
    object-fit: cover;
    object-position: 50% 50%;
    max-width: 50%;
    height: 500px;
  }

  &__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro transparente */
    padding: 10px;
    color: #fff; /* Color del texto en el caption */
  }
}

/* Main container */
.container-fluid {
  display: flex;
  justify-content: flex-start;
}


/* Gallery container */
.gallery-container {
  margin-left: 320px;
  width: calc(100% - 320px);
}

article > div {
  padding: 1rem;
}

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  gap: 10px;
}

/* Media queries */
@media (max-width: 768px) {
  .gallery-container {
    /* Adjust grid on smaller screens */
    article > div .grid-gallery {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
}

@media (max-width: 480px) {
  .gallery-container {
    /* Further adjust grid on even smaller screens */
    article > div .grid-gallery {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
}
