@import '../../../content/scss/bootstrap-variables';


section {
  article > div {
    padding: 1rem 0;
  }

  .grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
  }
}

/* Media queries */
@media (max-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .grid-gallery {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
