:host ::ng-deep .p-steps .p-steps-item .p-menuitem-link {
  background: transparent !important;
}

.drop-zone{
  border: 2px dashed rgb(255, 255, 255);
  max-width: 600px;
  border-radius: 5px;
  padding: 50px;
  text-align:center;
  margin: 0 auto;
}
