<div class="card-image" *ngIf="image">
  <img *ngIf="image.extendedUser" [src]="url + image.extendedUser.id + '/' + image.fileName" alt="image" />
  <div class="card-body">
    <h5 class="card-title" *ngIf="image.title">{{image.title}}</h5>
    <div class="card-likes">
      <span>{{image.likes}}
        <button type="button" class="btn btn-none" (click)="onLikeClick()">
          <fa-icon [icon]="'heart'" [ngClass]=" image.favourited ? 'isFavourited' : ''"></fa-icon>
        </button>
      </span>
    </div>
  </div>
</div>
