<section class="row">
  <div *ngIf="account" class="col-md-3">
    Usuario
  </div>
  <div [ngClass]="account ? 'col-md-8' : 'col-md-12'">
    <!-- carrousel -->
    Carrousel
  </div>
</section>
<section class="gallery">
  <div class="gallery-title">
    <h2>Galeria / <span>Poulares</span></h2>
  </div>
  <div class="row">
    <div class="col">
      <div class="grid-gallery">
        <jhi-card *ngFor="let popularImage of popularImages; trackBy: trackId" [image]="popularImage" (likeClicked)="onLikeClick($event)"></jhi-card>
    </div>
    </div>
  </div>
</section>
<section class="gallery">
  <div class="gallery-title">
    <h2>Galeria / <span>Recientes</span></h2>
  </div>
  <div class="row">
    <div class="col">
      <div class="grid-gallery">
        <jhi-card *ngFor="let recentImage of recentImages; trackBy: trackId" [image]="recentImage" (likeClicked)="onLikeClick($event)"></jhi-card>
    </div>
    </div>
  </div>
</section>
