
<section class="account-container" [ngClass]="{'close': (sidebarOpen$ | async)}">
  <div class="account-toggle">
    <button class="btn btn-none btn-icon" (click)="toggleSidebar()">
      <fa-icon [icon]="(sidebarOpen$ | async) ? 'angle-right' : 'angle-left'"></fa-icon>
    </button>
  </div>
  <jhi-account-content [extendedUser]="extendedUser"></jhi-account-content>
</section>
<div class="container-fluid" >
  <div class="right-container" [ngClass]="{'close': (sidebarOpen$ | async) }">
    <router-outlet></router-outlet>
  </div>
</div>
