@import '../../content/scss/bootstrap-variables';

/* Account container */
.account-container {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  background-color: #151515;
  padding: 20px;
  padding-top: 5rem;
  border-right: 1px solid #333;
}
