<div>
  <h2 id="page-heading" data-cy="NotificationHeading">
    <span jhiTranslate="projectApp.notification.home.title">Notifications</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projectApp.notification.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-notification"
        [routerLink]="['/notification/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projectApp.notification.home.createLabel"> Crear nuevo Notification </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="notifications?.length === 0">
    <span jhiTranslate="projectApp.notification.home.notFound">Ningún Notifications encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="notifications && notifications.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="message">
            <div class="d-flex">
              <span jhiTranslate="projectApp.notification.message">Message</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span jhiTranslate="projectApp.notification.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="creationDate">
            <div class="d-flex">
              <span jhiTranslate="projectApp.notification.creationDate">Creation Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="image.id">
            <div class="d-flex">
              <span jhiTranslate="projectApp.notification.image">Image</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="commentary.id">
            <div class="d-flex">
              <span jhiTranslate="projectApp.notification.commentary">Commentary</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="notifier.id">
            <div class="d-flex">
              <span jhiTranslate="projectApp.notification.notifier">Notifier</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="notifying.id">
            <div class="d-flex">
              <span jhiTranslate="projectApp.notification.notifying">Notifying</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let notification of notifications; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/notification', notification.id, 'view']">{{ notification.id }}</a>
          </td>
          <td>{{ notification.message }}</td>
          <td jhiTranslate="{{ 'projectApp.NotificationType.' + notification.type }}">{{ notification.type }}</td>
          <td>{{ notification.creationDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="notification.image">
              <a [routerLink]="['/extended-user', notification.image.id, 'view']">{{ notification.image.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="notification.commentary">
              <a [routerLink]="['/extended-user', notification.commentary.id, 'view']">{{ notification.commentary.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="notification.notifier">
              <a [routerLink]="['/extended-user', notification.notifier.id, 'view']">{{ notification.notifier.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="notification.notifying">
              <a [routerLink]="['/extended-user', notification.notifying.id, 'view']">{{ notification.notifying.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/notification', notification.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/notification', notification.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(notification)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="notifications && notifications.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
