<div class="card-image" *ngIf="image">
  <img *ngIf="image.extendedUser" [src]="url + image.extendedUser.id + '/' + image.fileName" alt="image"  (click)="navigateToView()"/>
  <div class="card-body">
    <h5 class="card-title" *ngIf="image.title">{{image.title}}</h5>
    <div>
      <div class="card-likes">
        <span>{{image.totalLikes}}
          <button type="button" class="btn btn-none" (click)="onLikeClick()">
            <fa-icon [icon]="'heart'" [ngClass]=" image.favourited ? 'isFavourited' : ''"></fa-icon>
          </button>
        </span>
      </div>
      <div class="card-comments">
        <span>{{image.totalCommentaries}}
          <button type="button" class="btn btn-none" (click)="onCommentClick()">
            <fa-icon [icon]="'comment'"></fa-icon>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
