<div>
  <h2 id="page-heading" data-cy="ImageHeading">
    <span jhiTranslate="projectApp.image.home.title">Images</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projectApp.image.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-image"
        [routerLink]="['/image/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projectApp.image.home.createLabel"> Crear nuevo Image </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="images?.length === 0">
    <span jhiTranslate="projectApp.image.home.notFound">Ningún Images encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="images && images.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="title">
            <div class="d-flex">
              <span jhiTranslate="projectApp.image.title">Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="projectApp.image.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fileName">
            <div class="d-flex">
              <span jhiTranslate="projectApp.image.fileName">File Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="path">
            <div class="d-flex">
              <span jhiTranslate="projectApp.image.path">Path</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="creationDate">
            <div class="d-flex">
              <span jhiTranslate="projectApp.image.creationDate">Creation Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="modificationDate">
            <div class="d-flex">
              <span jhiTranslate="projectApp.image.modificationDate">Modification Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isPrivate">
            <div class="d-flex">
              <span jhiTranslate="projectApp.image.isPrivate">Is Private</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="extendedUser.id">
            <div class="d-flex">
              <span jhiTranslate="projectApp.image.extendedUser">Extended User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let image of images; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/image', image.id, 'view']">{{ image.id }}</a>
          </td>
          <td>{{ image.title }}</td>
          <td>{{ image.description }}</td>
          <td>{{ image.fileName }}</td>
          <td>{{ image.path }}</td>
          <td>{{ image.creationDate | formatMediumDatetime }}</td>
          <td>{{ image.modificationDate | formatMediumDatetime }}</td>
          <td>{{ image.isPrivate }}</td>
          <td>
            <div *ngIf="image.extendedUser">
              <a [routerLink]="['/extended-user', image.extendedUser.id, 'view']">{{ image.extendedUser.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/commentary']"
                [queryParams]="{ 'filter[imageId.in]': image.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('projectApp.image.commentaries' | translate) }"
                  >Show Commentary</span
                >
              </button>
              <button type="submit" [routerLink]="['/image', image.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button type="submit" [routerLink]="['/image', image.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(image)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="images && images.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
